
.statusbar-overlay
/ Panels overlay
.panel-overlay
/ Left panel with reveal effect
.panel.panel-left.panel-cover
  .content-block
    %ul.panel-content
      %li.panel-link
        %a.close-panel{:href => "about.html"}
          = image_tag "icons/white/user.png", alt: ''
          About
      %li.panel-link
        %a.close-panel{:href => "features.html"}
          = image_tag "icons/white/features.png", alt: ''
          Features
      %li.panel-link
        %a.close-panel{:href => "gallery.html"}
          = image_tag "icons/white/gallery.png", alt: ''
          Gallery
      %li.panel-link
        %a.close-panel{:href => "videos.html"}
          = image_tag "icons/white/video.png", alt: ''
          Videos
      %li.panel-link
        %a.close-panel{:href => "blog.html"}
          = image_tag "icons/white/blog.png", alt: ''
          blog
      %li.panel-link
        %a.close-panel{:href => "contact.html"}
          = image_tag "icons/white/contact.png", alt: ''
          contact
/ Right panel with cover effect
.panel.panel-right.panel-cover
  .content-block
    .panel-cover
      .cover
      .cover-text
        Hi, Username
        %span Web designer
    %ul.panel-content
      %li.panel-link
        %a.close-panel{:href => "#"}
          Profile
      %li.panel-link
        %a.close-panel{:href => "#"}
          Settings
      %li.panel-link
        %a.close-panel{:href => "#"} Account
      %li.panel-link
        %a.close-panel{:href => "#"}
          Messages
          %span.badge.bg-red 5
      %li.panel-link
        %a.close-panel{:href => "#"} Favourites
      %li.panel-link
        %a.close-panel{:href => "#"} Logout
/ Views
.views
  / Your main view, should have "view-main" class
  .view.view-main
    / Top Navbar
    .navbar.navbar-hidden
      .navbar-inner
    / Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes
    .pages.navbar-through.toolbar-through
      / Page, data-page contains page name
      #home.page.no-navbar{"data-page" => "index"}
        / Scrollable page content
        .page-content
          #cover
          .content
            %a#logo{:href => "#"}
              = image_tag "logo.png", alt: 'Logo'
    / Bottom Toolbar
    .toolbar.tabbar
      .toolbar-inner
        %a.link{:href => new_user_session_path}
          = image_tag "icons/white/login.png", alt: ''
        %a.link{:href => "features.html"}
          = image_tag "icons/white/features.png", alt: ''
        %a.link{:href => "gallery.html"}
          = image_tag "icons/white/gallery.png", alt: ''
        %a.link{:href => "blog.html"}
          = image_tag "icons/white/blog.png", alt: ''
/ Login Screen
.login-screen
  / Default view-page layout
  .view
    .page
      / page-content has additional login-screen content
      .page-content.login-screen-content
        .login-screen-title
          = image_tag "logo-black.png", alt: ''
/ Register Popup
.popup.popup-register
  .page-content.login-screen-content
    .login-screen-title
      = image_tag "logo-black.png", alt: ''
    / Login form
    %form
      .list-block
        %ul
          %li.item-content
            .item-inner
              .item-title.label Username
              .item-input
                %input{:name => "username", :placeholder => "Username", :type => "text"}/
          %li.item-content
            .item-inner
              .item-title.label Email
              .item-input
                %input{:name => "email", :placeholder => "Email", :type => "email"}/
          %li.item-content
            .item-inner
              .item-title.label
                Password
              .item-input
                %input{:name => "password", :placeholder => "Password", :type => "password"}/
      .list-block
        %ul
          %li
            .content-block
              %a.item-link.button.button-fill.color-blue{:href => "#"} Register now
              %br/
              %a.button.button-fill.color-red.close-popup{:href => "#"} Close
/ Forgot password Popup
.popup.popup-forgot-password
  .page-content.login-screen-content
    .login-screen-title
      = image_tag "logo-black.png", alt: ''
    / Login form
    %form
      .list-block
        %ul
          %li.item-content
            .item-inner
              .item-title.label Your Email
              .item-input
                %input{:name => "email", :placeholder => "Email", :type => "email"}/
      .list-block
        %ul
          %li
            .content-block
              %a.item-link.button.button-fill.color-blue{:href => "#"} Resend password
              %br/
              %a.button.button-fill.color-red.close-popup{:href => "#"} Close
        .list-block-label Check your email and follow the instructions to reset your password.
