.view.view-main
  .pages
    .page
      / page-content has additional login-screen content
      .page-content.login-screen-content
        .login-screen-title
          = image_tag "logo-black.png", alt: 'Logo'
        / Login form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .list-block
            %ul
              %li.item-content
                .item-inner
                  = f.label :email, class: 'item-title label'
                  .item-input
                    = f.email_field :email, autofocus: true, :placeholder => "Email", type: 'text'
              %li.item-content
                .item-inner
                  = f.label :password, class: 'item-title label'
                  .item-input
                    = f.password_field :password, autocomplete: "off", :placeholder => "Email", type: 'password'
          .list-block
            %ul
              %li
                .content-block
                  = f.submit "Log in", class: 'item-link button button-fill color-blue'
            .list-block-label
              Don't have an account?
              %p
                = link_to 'Sign up', new_user_registration_path
