!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    / %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    / %link{:href => "images/apple-touch-startup-image-320x460.png", :rel => "apple-touch-startup-image"}/
    %title ExbelWvwebapp
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
  %body#mobile_wrap
    / Views
    .views
      / Your main view, should have "view-main" class
      .view.view-main
        = render 'shared/header' 
        = render 'shared/left_panel'
        .pages
          .page.navbar-fixed.toolbar-fixed
            .page-content
              = yield
            = render 'shared/bottom_toolbar'
